//icons
@import "bootstrap-icons/font/bootstrap-icons.css";

//bootstrap
$primary:#00BBF0;
$secondary:#005972;
$dark:#00204A;
$success:#45EBA5;
$light:#EFFBFF;
$white:#FFF;
@import "bootstrap/scss/bootstrap";
