//icons
@import "bootstrap-icons/font/bootstrap-icons.css";

//bootstrap
// $primary:#00BBF0;
// $secondary:#005972;
// $dark:#00204A;
// $success:#45EBA5;
// $light:#EFFBFF;
// $white:#FFF;

// $primary:#674188;
// $secondary:#C3ACD0;
// $light:#F7EFE5;
// $dark:#18122B;
// $white:#FFFBF5;
// $success:#45EBA5;


$primary:#162a2c;
$secondary:#2f4c4d;
$light:#d1d4d7;
$dark:#1c1c1c;
$white:#F1F3F4;
$success:#45EBA5;

//custom scroll bar
/* width */
::-webkit-scrollbar {
    width: 1px;
  }

  /* Track */
//   ::-webkit-scrollbar-track {
//     background: #f1f1f1;
//   }

  /* Handle */
//   ::-webkit-scrollbar-thumb {
//     background: #888;
//   }

  /* Handle on hover */
//   ::-webkit-scrollbar-thumb:hover {
//     background: #555;
//   }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dashboard-link:hover{
background-color: #effbff64;
}

.dashboard-link-exit:hover{
   background-color: #fe4848c5;
   color: "#FFF";
    }

.email:hover{
    background-color: #85858530;
}

@import "bootstrap/scss/bootstrap";
