//icons
@import "bootstrap-icons/font/bootstrap-icons.css";

//bootstrap
$primary:#00BBF0;
$secondary:#005972;
$dark:#00204A;
$success:#45EBA5;
$light:#EFFBFF;
$white:#FFF;


//custom scroll bar
/* width */
::-webkit-scrollbar {
    width: 0px;
  }

  /* Track */
//   ::-webkit-scrollbar-track {
//     background: #f1f1f1;
//   }

  /* Handle */
//   ::-webkit-scrollbar-thumb {
//     background: #888;
//   }

  /* Handle on hover */
//   ::-webkit-scrollbar-thumb:hover {
//     background: #555;
//   }

@import "bootstrap/scss/bootstrap";
